body{
background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Song Myung', serif;
}
h1{
    text-align: center;
    margin-bottom:1%;
    color:white !important; 
}
#container{
    border: solid 1px black;
    background-color:whitesmoke; 
}
#description{
    text-align: center;
}
ul{
    list-style: none;
}
[type="text"]{
    width:100%;
    padding:5px;
    text-transform: uppercase;
}
[type="email"]{
    width:100%;
    padding:5px;
}
[type="number"]{
    width:100%;
    padding:5px;
}
[type="radio"]{
    background-color: white;
}
select{
    padding: 5px;
    background-color: white;
}
textarea{
    resize:none;
}
button{
    background-color: white;
    outline:none;
}
form{
    margin-bottom: 5%;
}